.git
.gitignore
.DS_Store
.playwright-mcp

node_modules
npm-debug.log*

.env
.env.*
!.env.example

logs
pids
certs

prisma/*.db
prisma/*.db-journal
prisma/*.sqlite
prisma/*.sqlite3
prisma/*.sqlite.backup.db

*.wav
*.mp3
*.log
